/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  box-sizing: border-box;
  max-width: 375px;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--heading-color);
}

header {
  min-height: 668px;
  position: relative;
  margin-block-end: 40px;
  padding: 0 10px;
  block-size: 100vh;
}

.rec {
  display: flex;
  position:absolute;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  gap: 3px;
  top: 10px;
  right: 38px;
}

.circle::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -28px;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--main-color);
  border-radius: 50%;
  background-color: var(--main-color);
  margin: 8px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  color:var(--secong-color);
  text-shadow: 4px 4px 0 var(--main-color);
  margin-block-end: 55px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  margin-block-end: 65px;
  padding-top: 75px;
}

button {
  color: var(--main-color);
  background: none;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  padding: 1.5px 13px;
  cursor: pointer;
}

.section {
  padding: 0 10px;
}

.span {
  text-shadow: 2px 2px 0 var(--main-color);
}

a {
  text-decoration: none;
  border: none;
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

a:hover {
  border-bottom: 2px solid var(--text-color);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

button:hover {
  border: 1px solid rgb(255, 0, 112, 0.4);
}

header .heading-list {
  margin-block-end: 0;
}

.heading-list {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  background: var(--main-color);
  color: var(--heading-color);
  margin-bottom: 10px;
}

.heading-list-item {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  background: var(--main-color);
  color: var(--heading-color);
  margin-bottom: 10px;
}

.heading {
  color: var(--main-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  margin-bottom: 20px;
}

.text-block {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.reasons-section-container:last-child {
  margin-block-end: 50px;
}

.concentration-section-container:last-child {
  margin-block-end: 50px;
}

.advices-section-container:last-child {
  margin-block-end: 50px;
}

.advices .heading-list {
  margin-bottom: 20px;
}

.picture {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-rows: repeat(5 1fr);
  gap: 10px;
}

.picture .heading-list {
  margin: 0;
}

.img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10px;
  block-size: 100vh;
  margin-block-start: 40px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-color);
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  color:var(--secong-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
  padding: 0, 25px, 0px, 25px;
}

@media (width>=768px) {
  .page {
    max-width: 768px;
  }

  .rec {
    top: 20px;
    right: 48px;
  }

  .header {
    margin-block-end: 60px;
    padding: 0;
  }

  .header__title {
    margin-block-end: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .heading-list {
    margin-left: 50%;
    margin-right: 20px;
  }

  .heading {
    min-width: 236px;
  }

  .section .heading-list:last-child {
    margin-block-end: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  ul {
    padding-top: 192px;
    margin-block-end: 173px;
    margin-right: 20px;
  }

  .section {
    padding: 0 20px;
  }

  .reasons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .concentration {
    display: flex;
    flex-direction: column;
  }

  .concentration .heading {
    width: 236px;
  }

  .advices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .reasons-section-container:last-child {
    margin-bottom: 60px;
  }
  
  .concentration-section-container:last-child {
    margin-bottom: 60px;
  }
  
  .advices-section-container:last-child {
    margin-bottom: 60px;
  }

  .picture {
    gap: 20px;
  }
  
  .img-item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img-item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .img-item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img-item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .img-item:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .img-item:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  footer {
    padding: 0 20px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  footer::before {
    top: 20px;
    right: 20px;
  }

  footer::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width>=1024px) {
  .page {
    max-width: 1024px;
  }
  
  .header__title {
    margin-block-end: 114px;
  }

  .heading {
    min-width: 315px;
    margin: 0;
  }

  ul {
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin-block-end: 273px;
    margin-right: 0;
  }

  .concentration {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(3 1fr);
    gap: 20px;
  }

  .concentration-section-container {
    min-width: 315px;
  }

  .concentration .heading {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}